/* 基本 */
body {
    font-family: 'Roboto', 'Noto Sans JP', 'Noto Sans TC', 'Yu Gothic', 'Meiryo', sans-serif;
    line-height: 1.6;  /* 文字行間距 */
    background-color: #f7f7f7;  /* 背景色 */
    color: #333;  /* 文字顏色 */
}

/* 返回按鍵 */
.back-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #EEEEEE;
  color: #000;
  padding: 10px 14px;
  border-radius: 20px;
  text-decoration: none;
  z-index: 10000;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

/* 進度條 */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%; /* 初始寬度 0% */
    height: 5px;
    background-color: #007BFF;
    z-index: 9999;
}

/* 圖片 */
.full-image {
    width: 100%;
    height: 100vh; /* 視窗高度 */
    background-size: cover; /* 確保圖片不會被拉伸 */
    background-position: center; /* 圖片居中 */
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

/* 內文區域 */
.article {
    max-width: 1200px;  /* 限制最大寬度， */
    margin: 0 auto;  /* 內文居中 */
    padding: 30px;  /* 內邊距 */
    z-index: 1;
}

/* 標題 */
h1 {
    font-size: 3em;  /* 主標題 */
    font-weight: bold;  /* 加粗 */
    margin-bottom: 0.5em;  /* 標題與內容之間的空間 */
}

h2, h3, h4 {
    font-weight: bold;  /* 副標題 */
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

/* 文字段落 */
p {
    font-size: 1.2em;  /* 文字大小 */
    margin-bottom: 1em;  /* 段落間距 */
}

/* 短間距段落 */
.short-spacing {
    margin-bottom: 0.3em;  /* 之間的間距較小 */
}

/* 引用文字 */
blockquote {
    font-size: 1.2em;
    margin: 1.5em 0;
    padding-left: 1.2em;
    border-left: 5px solid #ccc;  /* 引用加上邊框 */
    color: #333;  /* 引用文字顏色 */
}

/* 文字中圖片 */
.inline-image {
    display: block;  /* 圖片塊級元素，讓文字換行 */
    margin: 20px auto;   /* 圖片上下留空間 */
    max-width: 100%;   /* 控制圖片最大寬度 */
    height: auto;     /* 圖片按比例自動調整 */
}


/* 左文字 右圖片 */
.left-text-right-image {
    display: flex;
    padding: 20px;
}

.left-text {
    flex: 1;
    padding-right: 20px;
}

.left-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.left-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

.right-image {
    flex: 1;
    background-size: contain; 
    background-position: center;
    height: 300px; 
    background-repeat: no-repeat;
}

/* 新增直向圖片樣式 */
.right-image.vertical {
    background-size: contain;
    height: auto;
}

/* 新增社交圖示樣式 */
.social-links {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    margin-top: 2rem;
}

.social-link {
    font-size: 1.5rem;
    color: #dbdbdb;
    transition: color 0.3s, transform 0.3s;
}

.social-link:hover {
    transform: scale(1.2);
}

/* 閱讀更多 
.left-image-right-image {
    display: flex;
    gap: 10px; /* 兩張圖片之間的間距
}

/* 每個圖片容器 
.image-link {
    flex: 1;  /* 圖片區域50% 
    display: block;  
    text-decoration: none; 
}

.left-image, .right-image {
    width: 100%; /* 圖片寬度 
    height: 300px;  /* 控制圖片高度 
    background-size: contain; /* 圖片覆蓋整個區域 
    background-position: left center;
    background-repeat: no-repeat; /* 確保圖片不會重複 
}
*/

/* 新增Changelog樣式 */
.container {
    display: flex;
    flex-direction: column;  /* 讓日期和內容換行 */
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 日期和標籤區塊 */
.date-tags {
    display: flex;
    justify-content: space-between;  /* 左右排列日期和標籤 */
    align-items: center;  /* 垂直置中 */
}

.date {
    font-size: 16px;
    color: #555;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.tags {
    display: flex;
    gap: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
}

.tag[data-color="blue"] {
    background-color: #007bff;
}

.tag[data-color="green"] {
    background-color: #28a745;
}

.tag[data-color="red"] {
    background-color: #dc3545;
}

.tag[data-color="purple"] {
    background-color: #6f42c1;
}

.tag[data-color="orange"] {
    background-color: #fd7e14;
}

/* 用於故事(Relaunch)樣式 */ 
/* 進度卡片 */ 
.block { 
    background-color: #f9f9f9; 
    border-radius: 16px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1400px; 
    margin: 0 auto; 
    
} 
   
/* 文字淡入效果 */ 
.text p { 
    opacity: 0; /* 初始狀態為透明 */ 
    transform: translateY(30px); /* 從下方進入 */ 
    animation: fadeUp 1s ease-out forwards; /* 動畫效果 */ 
    margin-bottom: 20px; /* 行與行之間的間距 */ 
    animation-delay: var(--delay); /* 每一段文字的延遲時間 */ 
} 
   
/* 設定動畫效果 */ 
@keyframes fadeUp { 
    0% { 
      opacity: 0; 
      transform: translateY(30px); /* 從下方進入 */ 
    } 
    100% { 
      opacity: 1; 
      transform: translateY(0); /* 最終位置 */ 
    } 
} 
   
/* 為每段文字設定不同的延遲時間 */ 
.text p:nth-child(1) { 
    --delay: 0s; /* 第一段文字無延遲 */ 
} 
   
.text p:nth-child(2) { 
    --delay: 0.2s; /* 第二段文字延遲 0.2 秒 */ 
} 
   
.text p:nth-child(3) { 
    --delay: 0.4s; /* 第三段文字延遲 0.4 秒 */ 
} 
   
.text p:nth-child(4) { 
    --delay: 0.6s; /* 第四段文字延遲 0.6 秒 */ 
} 
   
.text p:nth-child(5) { 
    --delay: 0.8s; /* 第五段文字延遲 0.8 秒 */ 
} 
   
.text p:nth-child(6) { 
    --delay: 1s; /* 第六段文字延遲 1 秒 */ 
} 
   
   
/* 超連結 */ 
.link { 
    padding: 20px; 
    border-radius: 8px; 
    margin-top: 20px; 
    text-align: center; 
    transition: color 0.3s, transform 0.3s; 
} 
   
/* 圖表並排 */ 
.charts-row { 
    display: flex; 
    justify-content: space-between; /* 左右對齊 */ 
    gap: 20px; /* 間隔 */ 
    flex-wrap: wrap; 
} 
   
/* 圖表容器 */ 
.chart-container { 
    width: 48%; /* 控制圖表尺寸 */ 
    margin: 20px auto; /* 容器居中 */ 
} 
   
.canvas { 
    width: 100% !important;  
    height: auto !important;  
} 
   
/* 提示框 */ 
.note { 
    background-color: #ffeeba; 
    border-left: 5px solid #ffc107; 
    padding: 15px; 
    margin-top: 20px; 
    border-radius: 5px; 
    font-size: 16px; 
} 

   
/* 淡入效果 */ 
.fade-in { 
    opacity: 0; 
    transition: opacity 1.5s ease-out; 
} 
   
.fade-in.visible { 
    opacity: 1; 
} 
   
/* 卡片排版 */ 
.card-container { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    width: 100%; 
    box-sizing: border-box; 
} 
   
/* 卡片樣式 */ 
.card { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    padding: 20px; 
    text-decoration: none; 
    color: #808080; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 22%; 
    max-width: 100%; 
    box-sizing: border-box; 
} 

.card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
} 

.card-icon { 
    font-size: 2.5rem; 
    margin-bottom: 15px; 
} 

.card-text { 
    font-size: 1rem; 
    font-weight: 600; 
} 
   
/* 卡片停留時甩動 */ 
.portfolio-icon { 
    transition: transform 0.3s ease; 
} 
.card:hover .portfolio-icon { 
    animation: swing-curve 0.8s ease-in-out; 
} 
   
/* 卡片停留時搖晃 */ 
.email-icon { 
    transition: transform 0.3s ease; 
} 
.card:hover .email-icon { 
    animation: shake 0.5s; 
} 
   
/* 搖晃動畫定義 */ 
@keyframes shake { 
    0%   { transform: translateX(0); } 
    25%  { transform: translateX(-5px); } 
    50%  { transform: translateX(5px); } 
    75%  { transform: translateX(-5px); } 
    100% { transform: translateX(0); } 
} 
   
/* 甩動動畫定義 */ 
@keyframes swing-curve { 
    0% { 
      transform: rotate(0deg) translate(0, 0); 
    } 
    20% { 
      transform: rotate(-15deg) translate(-5px, -5px); 
    } 
    40% { 
      transform: rotate(10deg) translate(5px, 5px); 
    } 
    60% { 
      transform: rotate(-10deg) translate(-4px, -4px); 
    } 
    80% { 
      transform: rotate(5deg) translate(2px, 2px); 
    } 
    100% { 
      transform: rotate(0deg) translate(0, 0); 
    }   
}
